@use './helpers/colors' as *;
@use './helpers/fonts' as *;
@use './helpers/mixins' as *;
@use './helpers/variables' as *;


*{
    padding: 0;
    margin: 0;
}


// default styles  =>  small screens


.btn{
    background-color: $primary-color2;
    border-radius: 20px;
    color: black;
    padding: 0.5rem 1rem;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
}

header{
    .container {
        @include flex(row,center,center);
        img{
            width: 147px;
            height: 70px;
        }
        .hamburger-icon{
            margin-left: var(--container-padding-x);
            position: absolute;
            left: 0;
        }
        nav{
            position: absolute;
            left: 0;
            top: 0;
            background-color: beige;
            height: 100vh;
            width: 75vw;
            display: none;
            ul{
                list-style-type: none;
                gap: 1.75rem;
                padding: 0;
                li{
                    font-size: var(--nav);
                    padding: 21px 16px;
                    border-bottom: solid 1px #D9D9D9;
                    font-weight: bold;
                }
            }
        }
        .beside-nav{
            width: 25vw;
            position: absolute;
            right: 0;
            height: 100vh;
            top: 0;
            background-color: #252525B8;
            display: none
        }
        nav ,.beside-nav {
            z-index: 1;
        }
    }
}

footer{
    background-color: $secondary-color3;
    .container {
        @include flex(column,space-between,center);
        padding-top: 2.44rem;
        padding-bottom: 2.44rem;
        gap: 4rem;
    }

    img{
        width: 162px;
        height: 286px;
        order: 1;
    }

    .texts-and-links{
        display: grid;
        align-items: start;
        gap: 30px;
    }

    h5{
        font-weight: bold;
        margin-bottom: 7px;
        font-size: var(--footer);
    }
    ul{
        list-style-type: none;
        font-size: var(--nav);
    }
}

.container{
    @include make-container(var(--container-padding-x));
}


/* Media Queries */

@media (width > 600px){
    footer{
        .container{
            flex-direction: row;
            padding: var(--container-padding-x);
            img{
                order: 0;
            }
            .texts-and-links{
                grid-template-columns: auto auto;
            }
        }
    }
    .container{
        @include make-container(var(--container-padding-x));
    }
}

@media (width > 900px) {
    .container{
        @include make-container(var(--container-padding-x));
    }
}

@media (width > 992px){
    header{
        .container{
            justify-content: space-between;
            align-items: center;
            color: black;
            img{
                width: 202px;
            }
            nav{
                position: unset;
                display: block;
                width: unset;
                height: unset;

                ul{
                    background-color: white;
                    @include flex(row,unset,center);

                    gap: 1.75rem;
                    padding: 0;
                    align-items: center;
                    height: 100%;

                    li{
                        border: none;
                        padding: 0;

                    }
                }
            }
        }
        
    }
    footer{
        .container{
            padding-top: 2.44rem;
            padding-bottom: 2.44rem;
            gap: unset;
            .texts-and-links{
                grid-template-columns: auto auto auto;
                gap: 4rem;
                align-items: unset;
                h5{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
