@use './helpers/colors' as *;
@use './helpers/fonts' as *;
@use './helpers/mixins' as *;


*{
    padding: 0;
    margin: 0;
}


// default styles  =>  small screens

header{
    > div {
            @include flex(row,center,center);
            img{
                width: 147px;
                height: 70px;
            }
            .hamburger-icon{
                padding-left: 0.75rem;
                position: absolute;
                left: 0;
            }
            nav{
                position: absolute;
                left: 0;//0.75rem
                top: 0;
                background-color: beige;
                height: 100vh;
                width: 75vw;
                ul{
                    list-style-type: none;
                    gap: 1.75rem;
                    padding: 0;
                    li{
                        font-size: $nav;
                        padding: 21px 16px;
                        border-bottom: solid 1px #D9D9D9;
                        font-weight: bold;
                    }
                }
            }
            .beside-nav{
                width: 25vw;
                position: absolute;
                right: 0;
                height: 100vh;
                top: 0;
                background-color: #252525B8;
            }
        }
}


footer{
    background-color: $secondary-color3;
    > div {
        @include flex(column,space-between,center);
    }

    img{
        width: 162px;
        height: 286px;
        margin: 60px 0;
        order: 1;
    }

    .texts-and-links{
        display: flex;
        align-items: start;
        gap: 100px;
    }

    h5{
        margin-bottom: 24px;
    }
    ul{
        list-style-type: none;
    }
}











// header{
//     /* width: 100%; */
//     // display: flex;

//     @include flex(row,center,unset);

//     // justify-content: space-between;
//     // padding: 0 292px;
//     gap: 5.06rem;
//     > div {
//         @include flex(row,space-between,center);
//     }
// }

// nav{
//     height: inherit;
//     ul{
//         display: flex;
//         list-style-type: none;
//         gap: 1.75rem; //28px
//         padding: 0;
//         align-items: center;
//         height: 100%;
//     }
//     li{
//         height: max-content;
//     }
//     a{
//         text-decoration: none;
//         color: black;
//         font-weight: bold;
//         font-size: $font3;
//     }
// }

// footer{
//     // display: flex;
//     // justify-content: space-between;
//     // align-items: center;
//     background-color: $secondary-color3;
//     // padding: 0 292px;

//     > div {
//         @include flex(row,space-between,center);
//     }

//     img{
//         width: 162px;
//         height: 286px;
//         margin: 60px 0;
//     }

//     .texts-and-links{
//         display: flex;
//         align-items: start;
//         gap: 100px;
//     }

//     h5{
//         margin-bottom: 24px;
//     }
//     ul{
//         list-style-type: none;
//     }
// }

// main{
//     > div {
//         @include flex(row,space-between,center);
//     }
// }

.booking-form{
    display: grid;
    // max-width: 200px;
    width: 100%;
    gap: 20px;
    padding: 1rem 0
}


.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.container{
    @include make-container();
    max-width: 858px;
}

/* Media Queries */
@media (width > 600px){
    .container{
        max-width: 500px;
    }
}


@media (width > 900px) {
    .container{
        max-width: 858px;
    }
}