@use "../helpers/colors" as *;
@use "../helpers/fonts" as *;
@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

// default styles  =>  small screens

.section1 {
  background-color: $primary-color1;
}
.section3 {
  background-color: $secondary-color3;
}

.hero {
  @include flex(row, space-between, center);
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  h1 {
    font-size: var(--title);
    color: $primary-color2;
    line-height: 1;
    font-family: "Markazi Text", serif;
  }
  h2 {
    font-size: var(--sub-title);
    line-height: 1.5;
  }
  p {
    font-size: var(--des);
    padding: 1rem 0 2rem 0;
    width: 60%;
  }
  img {
    position: absolute;
    right: var(--container-padding-x);
  }
}

.highlights {
  .title-and-btn {
    @include flex(column, unset, unset);
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }
  .section-title {
    font-size: var(--section-title);
    font-weight: bold;
  }
}

.testimonials {
  padding-top: 2.44rem;
  padding-bottom: 2.44rem;
  .title {
    font-size: var(--section-title);
  }
  .raters {
    padding-top: 2.44rem;
    gap: 2rem;
    .rater {
      padding: 2rem;
      background-color: white;
    }
  }
}

.about {
  @include flex(column, unset, unset);
  padding-top: 2.44rem;
  padding-bottom: 2.44rem;
  background-color: white;
  h1 {
    font-size: var(--title);
    color: $primary-color2;
    line-height: 1;
    font-family: "Markazi Text", serif;
  }
  h2 {
    font-size: var(--sub-title);
    line-height: 1.5;
    color: black;
  }
  p {
    font-size: var(--des);
    padding: 1rem 0 2rem 0;
  }
}

@media (width > 600px) {
  .highlights {
    padding-top: calc(var(--container-padding-x) / 2);
    padding-bottom: calc(var(--container-padding-x) / 2);
    .title-and-btn {
      padding-top: unset;
    }
  }

  .testimonials {
    .raters {
      padding-right: 0;
      padding-left: 0;
      grid-template-columns: auto auto;
      justify-items: center;
      row-gap: 2rem;
      .rater {
        padding: 1rem;
      }
    }
  }

  .about {
    align-items: center;
    p {
      font-weight: bold;
    }
    img {
      width: 360px;
      height: 360px;
    }
  }
}

@media (width > 992px) {
  .hero {
    align-items: unset;
    h2 {
      line-height: 1;
    }
    p {
      padding: 1rem 0 0.5rem 0;
      width: 38%;
    }
    img {
      width: 19.75rem;
    }
  }
  .highlights {
    .title-and-btn {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      button {
        height: -webkit-fill-available;
      }
    }
  }
  .testimonials {
    .raters {
      grid-template-columns: auto auto auto auto;
      justify-content: space-between;
      gap: 1rem;
      .rater {
        padding: 0.5rem;
        p {
          width: unset;
        }
      }
    }
  }
  .about {
    flex-direction: row;
    gap: 2rem;
    img {
      width: 447px;
      height: 445px;
    }
  }
}
